@font-face
{
    font-family: Calculator;
    src:url(Calculator.ttf);
}
.hola
{
    font-family: Calculator;
    background-color: black;
    color: chartreuse;
    text-align: center;
    font-size: xx-large !important;
}
.hola2
{
    font-family: Calculator;
    background-color: black;
    color: rgb(255, 47, 47);
    text-align: center;
    font-size: xx-large !important;
}
.row {
    text-align: center;
  }
.fondo{
    background-image: url(fondo04.png) ;
    background-size: 100% 100%;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
}
html, body{
    height:100%;
    margin: 0;
    display: flex;
    flex-direction: column;
  }
.div2{
    height:100%;
    width: 100%;
    background-color: rgb(0, 0, 0);
}









































